body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,#9a1d86, #1595be);
    font-weight: bold;
    color: whitesmoke;
}


.player{
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.wrapper{
    border: 1px solid transparent;
    padding: auto;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.track-art{
    margin: 25px;
    height: 250px;
    width: 245px;
    border: 1px solid #111010;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px black;
    -webkit-box-shadow:0px 6px 5px black;
    box-shadow: 0px 6px 5px #948f8f;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    box-shadow: 0 20px 5px 5px rgba(0,0,0,0.2);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes animate {
    0%, 100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
        }
        34% {
          border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
        }
        67% {
          border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        }
}



.now-playing{
    font-size: 1rem;
    transition: 1s;
}
.track-name{
    font-size: 2.5rem;
    width: auto;
    transition: 0.2s;
    text-align: center;
    display: flex;
    margin: auto;
    animation: lights 1s 800ms linear infinite;
    flex-wrap: wrap;
}
.track-artist{
    margin-top: 5px;
    transition: 1s;
    margin: auto;
    animation: lights 1s 800ms linear infinite;
}


.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    transition: 1s;
    justify-content: center;
}
.active{
    color: black;
}

.downloadbutton{
    position: absolute;
    margin-left: 350px;
    padding: 0px;
    font-size: xx-large;
    transition: all .5s ease-in-out;
}

.downloadbutton:hover{
    transition: 0.9s;
    filter: drop-shadow(.1em .2em .1em black);
    font-size: 35px;
    transition: all .2s ease-in-out;
    
}



.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track{
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}
.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover{
    opacity: 1.0;
}
.slider_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seek_slider,
.volume_slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #83a9ff;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #3774ff;
    cursor: pointer;
    border-radius: 100%;
}
.seek_slider:hover,
.volume_slider:hover{
    opacity: 1.0;
    transition: 0.9s;
    background: #285ea6;
}
.seek_slider{
    width: 60%;
    transition: 0.9s;
}
.volume_slider{
    width: 30%;
    transition: 0.9s;
}
.current-time,
.total-duration{
    padding: 10px;
    transition: 0.9s;
}
i.fa-volume-down,
i.fa-volume-up{
    padding: 10px;
    transition: 0.9s;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p{
    cursor: pointer;
}
.randomActive{
    color: black;
    transition: 1s;
}
.rotate{
    animation: rotation 7s infinite linear;
}

@keyframes rotation{
    
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
    
}


